body{
    background-color: aliceblue;
}

.greetingsPage{
    /* find out how to make the buttons smaller than the  h1 */
    display: flex;
    align-items: center;
}

#headerNavigator{
    /* put all divs in one line */
    background-color: blueviolet;
    padding: 0.2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navChild{
    display: inline-block;
    padding: 10px 20px;
}


#startingImg{
    width: 100%;
    height: 100%;
}

.settingsBar{
    padding: 1%;
}

#parentSettings{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    /* turn it into a settings look with one button under the other */
}

#StickyNote{
    background-color: rgb(225, 225, 27); 
    padding: 1.25em;
    width: 18.75em;
    position: relative;
}

.note-header {
    padding: 10%;
}

.note-header h2 {
    margin: 0;
}

#reminderSetter{
    background-color: grey;
    padding: 1.25em;
    width: 50%;
    display: flex;
}

#panicBtn{
    background-color: red;
    border-radius: 40%;
    padding: 4em;
    position: absolute;
    left: 45%;
}

#chat{
    border: thin solid black;
    display: grid;
    padding: 1.25em;
    width: 25%;
    height: 40%;
    position: absolute;
}

#chatSendBtn{
    grid-area: btn;
    height: 50%;
}

#inputMsg{
    
    height: 50%;
}

input:required + label:after{
    content: ' *';
    color: red;
}

.displayUsersData{
    display: flex;
    /* put this on the right of the page */
    position: absolute;
    right: 0;
}

/* dark mode */

body.dark{
    background-color: black;
    color: white;
}

.fa-moon{
    background-image: url('https://as1.ftcdn.net/jpg/01/13/72/84/500_F_113728476_BBmWp4hJWny4mR2jp9GSL4UvzSUxCROE.jpg');
    background-size: 120%;
    height: 100%;
    width: 30%;
    color: #f1c40f;

}

.fa-sun{
    background-image: url('https://i.pinimg.com/originals/66/f9/f2/66f9f2496e22c1cff36aa2f9f1e57754.jpg');
    background-size: 100%;
    width: 30%;
    height: 60%;
    color: #f39c12;
}

#dark-light, .darkl{
    opacity: 0;
    position: absolute;
}

.darkl:checked + .DLfeature .ball{
    transform: translateX(11%);
}

.DLfeature{
    background-color: #111;
    display: flex;
    border-radius: 5em;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    width: 15em;
}
    
.ball{
    background-color: #fff;
    position: absolute;
    height: 4em;
    width: 4em;
    border-radius: 1em;
    transition: transform linear 0.2s;
    
}
