body{
    /* background-color: white; */
    background-color: #F5F5DC;
    color: black;
}

h1{
    display:inline-block;
    vertical-align: middle;
}


#login, #logout{
    float: right;
    font-size: larger;
}

#headerNavigator{
    /*  */
    text-align: center;
    
}

.navChild{
    padding: 1% 5%;
    display: inline-block;
    font-weight: bolder;
    font-size: x-large;
}

#searchInput, #searchSubmit, #microphone{
    padding: 0.25%;
    font-size: large;
}

#reminder:hover{
    background-color: rgb(217, 217, 40);
}

#meds:hover{
    background-color: rgb(230, 153, 230);
}

#UA:hover{
    background-color: orange;
}

#chatSystem:hover{
    background-color: lime;
}

#settings:hover{
    background-color: rgb(44, 192, 242);
}

#pageStart{
    display: flex;
}

.startingImg{
    width: 60%;
    height: 100%;
}

#medicationReminder{
    border: thick solid black;
    width: 100%;
    padding: 4% 20%;
}

#panicBtn{
    background-color: red;
    border-radius: 40%;
    padding: 4em;
    float: right;
    /* position: absolute; */
    left: 45%;
}

.reminderFeature{
    margin: 0;
    width: 75%;
    position: left;
    border:  thin solid black;
}

#StickyNote{
    background-color: rgb(225, 225, 27); 
    width: 80%;
    position: relative;
    /* padding: 1.25em; */
}

#createList{
    height: 10%;
}

#messageSection{
    border: thin solid black;
    width: 50%;
}

#showMessages{
    /* padding: 10%; */
    font-size: larger;
    font-weight: bolder;
}

.userMsg{
    background-color: lightblue;
    color: black;
    width: 50%;
    padding: 4%;
    border-radius: 20%;
}
