body{
    background-color: white;
    color: black;
}

h1{
    display:inline-block;
    vertical-align: middle;
}


#login, #logout{
    float: right;
}

#headerNavigator{
    /*  */
    text-align: center;
    
}

.navChild{
    padding: 1% 7%;
    display: inline-block;

}

#panicBtn{
    background-color: red;
    border-radius: 40%;
    padding: 4em;
    float: right;
    /* position: absolute; */
    left: 45%;
}

