body{
    background-color: aliceblue;
}

#headerNavigator{
    /* put all divs in one line */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navChild{
    display: inline-block;
}

#startingImg{
    width: 100%;
    height: 100%;
}
